@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bungee+Spice&family=Comfortaa&family=Dancing+Script&family=Exo+2&family=Lilita+One&family=Permanent+Marker&family=Raleway&family=Source+Code+Pro&family=Space+Grotesk&family=Ysabeau+Office&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #001c30;
  color: #f5e8c7;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  flex: 3;
  border-right: 1px solid #64ccc5;
}

.main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
}

.brand {
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  color: #f5e8c7;
}

.upperSide {
  padding: 3rem;
  height: 70%;
}

.upperSideTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 3.5rem;
  margin-top: 1rem;
}

.midBtn {
  background: transparent;
  border: none;
  color: #f5e8c7;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  font-family: "Barlow", sans-serif;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
  cursor: pointer;
}

.query {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
  color: #f5e8c7;
  font-family: "Barlow", sans-serif;
  font-size: 1.46rem;
}

.query > img {
  margin-bottom: 1rem;
  object-fit: cover;
  height: 1.75rem;
  background: transparent;
}

.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 2rem;
  margin-bottom: 0;
  font-family: "Ysabeau Office", sans-serif;
}

.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
  background: transparent;
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.39rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatimg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.bot {
  background: rgb(23, 107, 135);
  width: fit-content;
  border-radius: 0.5rem;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
}

.inp > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: #f5e8c7;
  background: transparent;
}

.inp > input,
.send {
  background-color: transparent;
  border: none;
  font-family: "Ysabeau Office", sans-serif;
  color: #f5e8c7;
}

.chatFooter > p {
  margin: 2rem 0;
  font-family: "Bungee Spice", sans-serif;
  font-size: 1.3rem;
  color: #f5e8c7;
}

/* Keyframes for typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Query for smaller devices */
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main {
    flex: 12;
    margin: 3rem 1rem;
  }

  .upperSide {
    padding: 2rem;
  }

  .midBtn,
  .query {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .inp {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .inp > input {
    width: 100%;
    animation: typing 1.5s steps(40) infinite;
    border: none;
    outline: none;
  }

  .chats {
    max-width: 100%;
    margin: 0;
  }

  .chat {
    margin: 1rem 0;
    overflow: hidden;
  }

  .brand {
    font-size: 3rem;
  }

  .upperSideTop {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .addBtn {
    margin-top: 1rem;
  }

  .chatFooter {
    margin: 1rem 0;
  }
}
